@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {} */

body {
  color: white;
  background-color: #4b0082;
  height: 100svh;
  width: 100svw;
}

@layer utilities {
  .footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
  }
  .win-btn,
  .win-btn-small {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
    color: gray;
    border-radius: 7px;
    box-shadow: 0 0.2em gray;
    cursor: pointer;
  }
  .win-btn-small {
    padding: 5px;
    font-size: 15px;
  }

  .win-btn:active,
  .win-btn-small:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
  }

  .green {
    background-color: #1bbd10;
    color: #006400;
    box-shadow: 0 0.2em #00a105;
  }

  .blue {
    background-color: #0095ff;
    color: #003d68;
    box-shadow: 0 0.2em #006ebc;
  }

  .red {
    background-color: #bd1010;
    color: #770909;
    box-shadow: 0 0.2em #7f0b0b;
  }

  .orange {
    background-color: #bd7810;
    color: #66410b;
    box-shadow: 0 0.2em #99610d;
  }

  .title {
    @apply font-upheavtt text-4xl;
    text-shadow: -1px -1px 0 black, -3px -1px 0 black, -3px 3px 0 black,
      1px 3px 0 black;
  }

  .subtitle {
    @apply font-upheavtt text-xl;
    text-shadow: -1px -1px 0 black, -3px -1px 0 black, -3px 3px 0 black,
      1px 3px 0 black;
  }

  .text-simple {
    @apply font-upheavtt text-lg;
    text-shadow: -1px -1px 0 black, -3px -1px 0 black, -3px 3px 0 black,
      1px 3px 0 black;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100svw;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-view {
    @apply bg-purple-950;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .game-paused {
    position: absolute;
    height: 100svh;
    width: 100svw;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }
}
